<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="https://github.com/Chelqq/" class="nav-link">
                    My github
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://open.spotify.com/intl-es/album/2X6WyzpxY70eUn3lnewB7d" class="nav-link">
                    Senna
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://open.spotify.com/intl-es/track/5Gt9bxniM1SxN61yRzRhXL?si=578bd5b3ed884eca" class="nav-link">
                    Steppers
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; Gracias <a target="_blank" href="https://inmoov.fr/">Gael Langevin</a> - Creador de Inmoov
        </div>
    </div>
</footer>
